body {
    padding: 0;
    margin: 0;
    background: url("/img/fondo-body.webp"),linear-gradient(to bottom, #080F18, #081420, #00010B);
    background-blend-mode: color-dodge;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1 {
    font-family: 'Karantina';
    color:#FCFDFE;
    font-weight: lighter;
    font-size: 6em;
    margin: 0;
    padding: 0;
}

h6{
    font-family: 'Karantina';
    color:#FCFDFE;
    font-weight: lighter;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h2, h5{
    font-family: 'Karantina';
    color:#FCFDFE;
    font-size: 4em;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid #FCFDFE;
    font-weight: lighter;
}

h3{
    font-family: 'Karantina';
    font-weight: lighter;
    color:#FA3406;
    font-weight: 300;
    font-size: 2em;
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

h4 {
    font-family: 'Karantina';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 1.5em;
}

p{
    font-family: 'Karla';
    line-height: 1.4;
    color:#FCFDFE;
}

a{
    font-family: 'Karla';
    color: #F3732C;
    font-style: italic;
    text-decoration: none;
}

button {
    background-color: #F3732C;
    color: #FCFDFE;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-weight: lighter;
    font-family: 'Karantina';
    font-size: 1.5em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FA3406; /* Cambia el color al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más grande al pasar el mouse */
}

/*Para Smartphones*/
@media screen and (max-device-width : 480px) {
    h1 {
        font-size: 5em;
    }
    
    h2, h5{
        font-size: 3em;
    }
    
    h3{
        font-size: 1.8em;
    }
}