.portfolio-item {
    width: 25vw;
    overflow: hidden;
    box-shadow: 0 4px 8px #0000001a;
    margin: 10px;
    transition: all 0.5s;
}

.portfolio-item:hover{
    transform: scale(1.04);
}

.portafolio-item-header {
    border-radius: 15px 15px 0 0;
    display: block;
    height: 40vh;
    background-size: 100%;
    background-position: center;
}

.portafolio-item-header:hover{
    background-size: 120%;
    filter: saturate(0);
    transition: 0.5s;
}

.portafolio-item-body {
    background-color: #FCFDFE;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.portafolio-item-body p {
    color: #353535;
    font-size: 0.9em;
}

/*Para Smartphones*/
@media screen and (max-device-width : 480px) {
    .portfolio-item {
        width: 100%;
    }
}