.portfolio-item {
    width: 25vw;
    overflow: hidden;
    box-shadow: 0 4px 8px #0000001a;
    margin: 10px;
    transition: all 0.5s;
}

.portfolio-item:hover{
    transform: scale(1.04);
}

.portafolio-item-header {
    border-radius: 15px 15px 0 0;
    display: block;
    height: 40vh;
    background-size: 35vw;
    background-position: center;
    transition: all 0.5s;
}

.portafolio-item-header:hover{
    background-size: 50vw;
    filter: saturate(0);
}

.portafolio-item-body {
    background-color: #FCFDFE;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.portafolio-item-body p {
    color: #777;
    font-size: 0.9em;
}

.portafolio-item-body button {
    padding: 2px 70px;
    border-radius: 5px;
    cursor: pointer;
}

.portafolio-item-body button:hover {
    background-color: #E64420;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}