#contact{
    margin: 7%;
    background: linear-gradient(to bottom, #0D0D14, #0E0F15);
    box-shadow: 0 4px 8px #0002;
    border-radius: 25px;
    padding: 2%
}

#contact h2{
    text-align: center;
    margin-bottom: 2%;
}

#contact label{
    font-family: 'Karantina', sans-serif;
    color:#FA3406;
    font-size: 3em;
    font-weight: 300;
    padding: 2% 0 2% 0;
}

.formulario{
    display: flex;
}

.social{
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

.left-section-contact img{
    height: 100%;
    width: 100%;
    filter: grayscale();
}

.social a{
    content: "";
    width: 50%;
    padding: 1% 3%;
}

.social a:hover{
    transition: 0.3s;
    transform: scale(1.5);
}

.left-section-contact{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 40%;
}

.rigtht-section-contact{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 60%;
}

.rigtht-section-contact form{
    display: flex;
    flex-direction: column;
}

.rigtht-section-contact textarea, input{
    padding: 2%;
    border-radius: 5px;
    background-color: #131316;
    color: #FCFDFE;
    border: 2px solid #FA3406;
    resize: none;
    max-lines: 6;
}

.rigtht-section-contact textarea::placeholder, input::placeholder{
    font-family: Karla;
}

.rigtht-section-contact button {
    margin-top: 2%;
}