@font-face{
    font-family: 'Karla';
    src: url("../fonts/Karla/Karla-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: 'Karantina';
    src: url("../fonts/Karantina/Karantina-Regular.woff2") format("woff2");
    font-display: swap;
}