/* Estilos para el encabezado */
#header {
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: url("/img/blue-smoke.png"),linear-gradient(to bottom, #080F18, #08111B);
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.right-section{
    margin: 4% 2% 7% 0;
    width: 50%;
}

.left-section{
    margin: 4% 0 7% 7%;
    width: 50%;
}

.right-section img {
    width: 100%;
    filter: drop-shadow(0px 0px 8px #F3732C);
}