.navbar {
    position: fixed;
    display: flex;
    font-family:'Karla', Courier;
    top: 0; /* Lo posiciona en la parte superior */
    width: 100%; /* Ocupa todo el ancho del documento */
    z-index: 999; /* Asegura que el menú se muestre por encima de otros elementos */
    background-color: #080F18e1;  /*Color de fondo del menú */
    align-items: center;
    justify-content: space-around;
}

/* Estilos de los enlaces del menú */
.navbar a {
    float: left;
    font-weight: bold;
    color: #FCFDFE; /* Color del texto de los enlaces */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: normal;
}

/* Cambio de color al pasar el mouse */
.navbar a:hover {
    border-bottom: 4px solid #FA3406;
    transition: 80ms;
}

/* Estilo para el elemento activo/enfocado */
.navbar a.active {
    border-bottom: 4px solid #FA3406;
    color: white;
}

/* Estilos para la imagen y el texto en la barra de menú */
.navbar-brand {
    float: left; /* Posiciona la marca a la derecha */
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    padding: 14px 16px;
}

.navbar-brand span{
    font-size: 40px; 
    font-family: 'Karantina', Courier; 
    color: snow; 
    padding: 10%;
}

.navbar-brand img {
    border-radius: 50%; /* Hace la imagen circular */
    margin-left: 10px;
    border: 2px solid #FCFDFE; /* Espacio entre la imagen y el texto */
}