.navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    height: 15%;
    transition: 0.5s ease;
}

.navbar.active{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    transition: 0.5s ease;
    background-color: #232a34;
    height: 10%;
}

.menu-items{
    display: flex;
    align-items: center;
    list-style: none;
}

/* Estilos de los enlaces del menú */
.navbar a {
    float: left;
    font-weight: bold;
    color: #FCFDFE; /* Color del texto de los enlaces */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: normal;
}

/* Cambio de color al pasar el mouse */
.navbar li:hover {
    border-bottom: 4px solid #FA3406;
    transition: 80ms;
}

/* Estilos para la imagen y el texto en la barra de menú */
.navbar-brand {
    float: left; /* Posiciona la marca a la derecha */
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    padding: 14px 16px;
}

.navbar-brand span{
    font-size: 40px; 
    font-family: 'Karantina'; 
    color: #FCFDFE; 
    padding: 10%;
}

.navbar-brand img {
    border-radius: 50%; /* Hace la imagen circular */
    margin-left: 10px;
    border: 2px solid #FCFDFE; /* Espacio entre la imagen y el texto */
}

.hamburguer-menu{
    visibility: hidden;
    position: absolute;
}

.hamburger {
    cursor: pointer;
    visibility: hidden;
    position: absolute;
}

.hamburger input {
    display: none;
    z-index: 1500;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #FCFDFE;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


/*Ipads en vertical*/
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    .menu{
        visibility: hidden;
        position: absolute;
    }

    .hamburger{
        visibility: visible;
        position:initial;
    }
}

/*Para Smartphones*/
@media screen and (max-device-width : 480px) {
    .navbar-brand span{
        font-size: 30px;
    }

    .menu{
        visibility: hidden;
        position: absolute;
    }

    .hamburger{
        visibility: visible;
        position:initial;
    }
}