#portfolio {
    display: grid;
    margin: 7%;
    justify-content: center;
}

#portfolio button{
    margin: 2% auto;
}

.Elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}