#prices{
    display: grid;
    margin: 7%;
    align-items:center;
    justify-items: baseline;
}

#prices button {
    display: block;
    margin: 2% auto;
}

#prices h2{
    margin: 0 1%;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-end{
    display: flex;
    align-items: center;
}

.price-end img{
    width: 40%;
    filter: invert(31%) sepia(86%) saturate(3914%) hue-rotate(356deg) brightness(96%) contrast(105%);
}

.price-end h4{
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.icon img{
    height: 100%;
    width: 30px;
    margin: 1%;
    filter: invert(31%) sepia(86%) saturate(3914%) hue-rotate(356deg) brightness(96%) contrast(105%);
}
.card {
    width: 35%;
    background-color: #333;
    color: #FCFDFE; 
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin: 2%;
    margin-top: 5%;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    transition: all 0.2s;
    cursor: pointer;
}

.card:hover {
    background: linear-gradient(to bottom, #232A34, #242934);
    transform: scale(1.04) rotate(1deg);
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#FA3406, #F3732C);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

.card h2{
    border: 0;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    padding-bottom: 5%;
}

.card02 h2{
    border: 0;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    padding-bottom: 5%;
}

.icon {
    margin-right: 15px;
}

.info{
    display: flex;
    margin: 15px;
}

.price-end span{
    width: 40%;
}