#reviews{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 7%;
    background: linear-gradient(to left, #fa330600, #fa3306c0);
}

.review-elements{
    display: flex;
}

.reviw-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3%;
    border-radius: 20px;
    width: 20%;
    background: linear-gradient(to left,#0A0A15, #0C0B12, #fa3306c0 180%);
    box-shadow: 10PX 0px 6px #0002;
}

.reviw-item:hover{
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 20px #fa3306cc;
    border-color: #fa3306c0;
    transform: scale(1.04);
}

.reviw-img {
    position: relative;
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background-size: cover;
    background-position: center;
}

.reviw-img::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    width: 90%;
    height: 90%;
    border: .5rem solid #e6442091;
}

.reviw-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviw-info h4{
    font-weight: lighter;
    font-size: 40px;
    margin: 2% 0;
    margin-top: 7%;
}

.reviw-info h5{
    font-family: Karla;
    margin: 2% 0;
}

.reviw-info p{
    font-style: italic;
    text-align: center;
}