#separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0 5%;
}

.line {
    flex-grow: 1;
    border-radius: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.circles {
    display: flex;
    padding: 0 20px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.green {
    background-color: #F3732C; 
}

.red {
    background-color: #FA3406; 
}